* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}
.main-container {
 display: grid;
}
/*Navigation Bar*/
.grid-nav {
 display: grid;
 position: fixed;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: 1fr;
 vertical-align: middle;
 justify-items: center;
 background-color: white;
 width: 100%;
 top: 0;
 z-index: 1;
}
.nav-left,
.nav-mid,
.nav-right {
 padding-top: 7px;
}
.nav-left a {
 margin-right: 10px;
}
.nav-left a {
 text-decoration: none;
 text-align: center;
 font-weight: 700;
 font-size: 12px;
 font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 0.3px;
 color: black;
 margin-right: 25px;
}
.nav-left a:hover {
 text-decoration: underline;
}

.menu-bar {
 width: 16px;
 height: 16px;
}
.search-icon {
 width: 17px;
 height: 17px;
}
.nyt-logo {
 width: 189px;
 height: 25px;
}
.nav-right a {
 text-decoration: none;
 text-align: center;
 font-weight: bold;
 font-size: 10px;
 color: white;
}
.subscribe {
 padding: 8px 12px 8px 12px;
 margin-right: 3px;
 border: solid 1px #1b546b;
 border-radius: 4px;
 background-color: #277391;
}
.login {
 padding: 8px 12px 8px 12px;
 border: solid 1px #1b546b;
 border-radius: 5px;
 background-color: #277391;
}
.article-con {
/*background-color: palevioletred;*/
 width: 1000px;
 margin: auto;
 display: flex;
 flex-direction: column;
}
.ads {
 height: 150px;
 background-color: white;
}
.article-con h1 {
 color: #121212;
 font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
 font-weight: 700;
 font-style: italic;
 max-width: 600px;
 font-size: 2.5rem;
 line-height: 3rem;
 text-align: center;
 margin-left: 230px;
}
.article-con img {
 width: inherit;
}
.article-con span {
 margin-right: 7px;
 color: #666;
 font-family: nyt-imperial, georgia, "times new roman", times, serif;
 font-size: 0.9375rem;
 line-height: 1.25rem;
 font: inherit;
 vertical-align: baseline;
 max-width: 650px;
 float: left;
}
.story {
  /*background-color: wheat;*/
 width: 600px;
 margin: auto;
 display: flex;
 flex-direction: column;
}
.story h3 {
 font-family: nyt-franklin, helvetica, arial, sans-serif;
 font-weight: 700;
 color: #333;
 text-size-adjust: 100%;
 vertical-align: baseline;
 padding-top: 60px;
}
.storyhead {
 display: flex;
 justify-content: space-between;
 padding-top: 30px;
 padding-bottom: 10px;
}
.icons a {
 margin-right: 15px;
 padding: 10px;
 background-color: #eee;
 border-radius: 50%;
}
.icons a:hover {
 border: solid 1px #eee;
 border-radius: 50%;
 padding: 10px;
 background-color: white;
}

.story p {
 font-family: nyt-imperial, georgia, "times new roman", times, serif;
 color: #333;
 font-size: 1.25rem;
 line-height: 1.875rem;
}
/*Theory Sections*/
.header img {
 width: 100%;
}
.header h4 {
 padding-top: 20px;
}
.header p {
 font-family: nyt-cheltenham, georgia, times new roman, times, serif;
 color: gray;
}
.image_details,
.image_details_two {
    display: flex;
    position: relative;
    bottom: 450px;

}
.image_details_two{
    bottom: 270px;
}
.image_details span,
.image_details_two span {
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    font-style: normal;
}
.theory {
    height: 800px;
    margin-top: 0;
}
.theory_footer {
    position: relative;
    bottom: 220px;
}
.hr-theory {
 width: 70px;
 border: solid 1px black;
}
.p-theory {
 font-size: 0.875rem;
 font-weight: 500;
 font-style: normal;
 font-family: nyt-franklin, arial, helvetica, sans-serif;
 padding-top: 10px;
}
.aside-con {
 background-color: peru;
 height: 300px;
}
.footer-con {
 background-color: seagreen;
 height: 100px;
}
